alembic==1.7.5
apispec==6.5.0
apispec-webframeworks==1.0.0
attrs==22.2.0
click==8.0.3
Faker==12.0.1
flake8==4.0.1
Flask==2.0.2
Flask-Migrate==3.1.0
flask-redoc==0.2.1
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.0
greenlet==1.1.2
iniconfig==1.1.1
isort==5.13.2
itsdangerous==2.0.1
Jinja2==3.0.3
jsonmerge==1.9.2
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
Mako==1.1.6
MarkupSafe==2.0.1
marshmallow==3.21.1
mccabe==0.6.1
mixer==7.2.2
packaging==21.3
pluggy==1.0.0
py==1.11.0
pycodestyle==2.8.0
pyflakes==2.4.0
pyparsing==3.0.7
pytest==7.1.1
pytest-env==0.6.2
python-dateutil==2.8.2
python-dotenv==0.19.2
PyYAML==6.0.1
referencing==0.33.0
rpds-py==0.18.0
six==1.16.0
SQLAlchemy==1.4.29
tomli==2.0.1
Werkzeug==2.0.2
WTForms==3.0.1
