{% extends 'base.html' %} {% block title %}500 - Internal server error{%
endblock %} {% block content %}
<main>
  <section class="container text-center">
    <h1 class="red-color">500 - Internal server error</h1>
    <p>
      Perhaps the server has crashed or there are short-term technical work.
      <br />
      Try refreshing the page now or via a few minutes.
    </p>
    <a href="{{ url_for('index') }}" class="btn btn-primary error-button"
      >Вернуться на главную</a
    >
  </section>
</main>
{% endblock %}
