body {
  background-color: #212529;
  color: #dcdcdc;
  font-family: Arial, sans-serif;
}

main {
  height: 83vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-dark {
  background-color: #343a40 !important;
}

.py-3 {
  padding-bottom: 0 !important;
}

header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  color: #ff3333;
}

.nav-link {
  color: #dcdcdc !important;
}

.nav-link:hover {
  color: #f8f9fa !important;
}

main {
  padding-top: 80px;
}

h1 {
  color: #ff3333;
}

.form-control {
  background-color: #343a40;
  color: #dcdcdc;
  border-color: #343a40;
}

.form-control:focus {
  background-color: #495057;
  color: #dcdcdc;
  border-color: #495057;
}

.btn-primary {
  background-color: #b30000;
  border-color: #cc0000;
  color: #ffffff;
  max-width: 75%;
  width: auto;
  opacity: 0.95;
  margin: auto;
}

.btn-primary:hover {
  background-color: #cc0000;
  border-color: #b30000;
  opacity: 1;
}

footer {
  background-color: #343a40;
}
