body {
  background-color: #212529;
  color: #dcdcdc;
  font-family: Arial, sans-serif;
}

main {
  height: 80vh;
  padding-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-dark {
  background-color: #343a40 !important;
}

.py-3 {
  padding-bottom: 0 !important;
}

header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-link {
  color: #dcdcdc !important;
}

.nav-link:hover {
  color: #f8f9fa !important;
}

.form-control {
  background-color: #343a40;
  color: #dcdcdc;
  border-color: #343a40;
}

.form-control:focus {
  background-color: #495057;
  color: #dcdcdc;
  border-color: #495057;
}

.btn-primary {
  background-color: #b30000;
  border-color: #cc0000;
}

.btn-primary:hover {
  background-color: #cc0000;
  border-color: #b30000;
  opacity: 1;
}

.done-link {
  text-decoration: none;
}

.red-color {
  color: red;
}

.error-button {
  background-color: #495057; /* серый цвет кнопки */
  border-color: #495057;
}

.error-button:hover {
  background-color: #6c757d; /* темнее серого цвета при наведении */
  border-color: #6c757d;
  opacity: 1;
}
