{% extends "base.html" %} {% block content %}
<main class="d-flex align-items-center">
  <section class="container my-5 px-4">
    <h1 class="text-center">
      <span class="red-color">Ya</span><span style="color: white">Cut</span>
    </h1>
    <p class="text-center my-4">
      Generate a short link automatically or suggest your own
    </p>

    <div class="container">
      <div class="row my-3">
        <div class="col-sm"></div>
        <div class="col-sm">
          <form method="POST" action="{{ url_for('index') }}" novalidate>
            {{ form.csrf_token }}
            <div>
              <div>
                {{ form.original(class="form-control form-control-lg py-2 mb-3",
                placeholder=form.original.label.text, id="form-title") }}
                <p>
                  {% if form.original.errors %} {% for error in
                  form.original.errors %}
                  <span class="red-color">{{ error }}</span>
                  {% endfor %} {% endif %}
                </p>
              </div>
              <div>
                {{ form.short(class="form-control form-control-lg py-2 mb-3",
                placeholder=form.short.label.text, id="form-link") }}
                <p>
                </p>
              </div>
              {{ form.submit(class="btn btn-primary") }}
            </div>
          </form>
        </div>
        <div class="col-sm"></div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm">
          {% if form.validate_on_submit() %}
          <div class="text-center">
            <h5>Your new link is ready:</h5>
            <a
            href="{{ url_for('redirect_to_url', short=short, _external=True) }}"
            target="_blank"
            class="done-link"
            >{{ url_for('redirect_to_url', short=short, _external=True) }}</a
            >
          </div>
          {% endif %}
          {% with messages = get_flashed_messages() %} {% if
            messages %} {% for message in messages %} <div class="red-color">{{ message }}</div> {% endfor %}
          {% endif %} {% endwith %}
        </div>
        <div class="col-sm"></div>
      </div>
    </div>
  </section>
</main>
{% endblock content %}
